{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12" >
        <h2 class="text-center"><strong>-Our Mission -</strong></h2><br>
        <p class="text-center" style="font-size: 26">To provide the most valuable Django Code</p><br>
        <p class="text-center" style="font-size: 40; font-weight: 600">About</p>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p>This is a sample site  created using Django Web Framework Showcasing my skill in python
            programming language. This project is created using Python 2.7 and Django 1.11.1 where we 
            will be exploring various aspect of 21st century  of the modern  Web Framework. To learn 
            more about Django visit <a href="https://www.djangoproject.com/">The web framework for
                perfectionists with deadlines.</a> Django was designed to help
            developers take applications from concept to completion as quickly as possible.
        </p>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="text-center page-header">My Skills</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">Laravel Framework</h2>
          <p class="text-center"> <i class="fa fa-line-chart fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://laravel.com/docs/5.4/installation" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Django Framework</h2>
           <p class="text-center"><i class="fa fa-diamond fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://docs.djangoproject.com/en/1.11/" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 class="text-center">Version Control</h2>
           <p class="text-center"><i class="fa fa-coffee fa-5x" aria-hidden="true" style="color: #F05F40"></i></p>
          <p class="text-center"><a class="btn btn-default" href="https://bitbucket.org/" role="button">View details &raquo;</a></p>
        </div>
    </div>
    </div>
{% endblock %}