{% extends 'base.html' %}

{% block script %}
    <script>
        var stripe = Stripe('pk_test_oxFqwE33CrQpO4WJrGPXytwd');
        var elements = stripe.elements();
    </script>
{% endblock %}

{% block jquery %}

{% endblock %}

{% block content %}
    <div class="row">
       <div class="col-sm-6 col-sm-offset-3">
          <form class="form" action="" method="post" id="payment-form">
    {% csrf_token %}
        <span class="payment-errors"></span>
        <div class="form-row">
            <label for="">
                <span>Card Number</span>
                <input class="form-control" type="text" size="20" data-stripe="number">
            </label>
        </div>
        <div class="form-row">
            <label for="">
                <span>Expiration (MM/YY)</span>
                <input type="text" size="2" data-stripe="exp_month">
                <span>/</span>
                <input type="text" size="2" datastripe="exp_year">
            </label>
        </div>
        <div class="form-row">
            <label for="">
                <span>CVC</span>
                <input type="text" size="4" data-stripe="cvc">
            </label>
        </div>
        <input type="submit" class="btn btn-success submit" value="Submit payment">
    </form>
       </div>
    </div>
{% endblock %}